.seccion__contenido{
    background-color: #ebebeb;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 100%;
}
.seccion__contenido2{
    background-color: #ebebeb;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 100%;
}
.img__local{
    display: flex;
}
.img__local{
    width: 80%
}



.titulo{
    text-align: center;
    color: rgb(214, 16, 16);
    font-family:fantasy
}
    



.titulos{
    background-color:#1d94aa
}
.titulos{
    margin-left: -2.7%;
    text-align: center;
    margin-right: -2.6%;
}
.items{
    text-align: center;
}
