
.header{
    background-color: #ffcd00;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* --->NAV BAR<--- */

.navbar{
    font-family: monospace;
}
.nav-item{
    background-color: #ffcd00;
}
.container-fluid{
    background-color: #ffce0b;
}
